{
    "openapi": "3.0.1",
    "info": {
        "version": "1.0.0",
        "title": "Affiliate APIs",
        "description": "A catalogue of the available APIs within our Affiliate Advertising offerings.\n"
    },
    "servers": [
        {
            "url": "https://api.linksynergy.com"
        }
    ],
    "paths": {
        "/advancedreports/1.0": {
            "get": {
                "tags": [
                    "Advanced Reports"
                ],
                "summary": "Retrieve the Payment History and details.\n",
                "description": "Use this API to request Payment History Summary, Advertiser Payments History, and Payment Details. Other reports from the publisher dashboard can be pulled using the new reporting platform API. To request a specfic report, you'll need to submit your request with the appropriate <code>reportid</code> and the required parameters.\n",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "reportid",
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                2,
                                3,
                                22,
                                23
                            ]
                        },
                        "description": "Report ID. Use to identify which report to fetch:\n  <ul>\n    <li>1: Payment history summary</li>\n    <li>2: Advertiser payments history v1</li>\n    <li>3: Payment details v1</li>\n    <li>22: Advertiser payments history v2</li>\n    <li>23: Payment details v2</li>\n  </ul>\n",
                        "example": 1,
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "token",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Security token. This is not the \"Bearer\" token.\n",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "bdate",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Start date of report. Use with <b>Payment History Summary [1]</b>. Reports can be run for up to 365 days (366 days in a leap year).\n",
                        "example": "YYYYMMDD",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "edate",
                        "description": "End date of report. Use with <b>Payment History Summary [1]</b>. Reports can be run for up to 365 days (366 days in a leap year).\n",
                        "schema": {
                            "type": "string"
                        },
                        "example": "YYYYMMDD",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "payid",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Unique payment ID assigned to every payment. Retrieve from <b>Payment History Summary [1]</b>.\n",
                        "example": 872590,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "invoiceid",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Unique invoide ID assigned to every invoice. Retrieve from <b>Advertiser Payments History [2,22]</b>.\n",
                        "example": 1142851,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "nid",
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                3,
                                5,
                                41
                            ]
                        },
                        "description": "Filter by network ID. If not included, your response will return all networks.\n",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "lang",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "fr",
                                "de",
                                "pt"
                            ]
                        },
                        "description": "Change the language of column headers in reports. (default: English).\n"
                    },
                    {
                        "in": "query",
                        "name": "locale",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "fr",
                                "de",
                                "pt-br"
                            ]
                        },
                        "description": "Change currency decimal format. If not included, your response will display with comma by default.\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results are returned successfully.<br>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/advancedReportsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/advertisersearch/1.0": {
            "get": {
                "tags": [
                    "Advertiser Search"
                ],
                "summary": "Retrieve the MIDs for advertisers whose programs you haven't been approved for.\n",
                "description": "The Advertiser Search API allows users to retrieve a list of all advertisers and advertiser MIDs. Publishers can find potential new advertisers to apply a partnership with.\n",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "merchantname",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Advertiser's name",
                        "example": "macy",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results are returned successfully.</br>",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/advertiserSearchResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/coupon/1.0": {
            "get": {
                "tags": [
                    "Coupon"
                ],
                "summary": "Returns list of coupons\n",
                "description": "Use the Coupon API to access coupons and promotional link data from partner-advertisers. Coupons and promotional links have been validated by the Rakuten Affiliate Network to ensure accuracy and credibility.\n",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "category",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by one or more category IDs. This parameter may contain one or more valid category IDs. If not included, your response will return all categories.\n",
                        "example": "{category-id-1}|{category-id-2}|{category-id-3}",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "promotiontype",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by one or more promotion type IDs. This parameter may contain one or more valid promotion type IDs. If not included, your response will return all promotional types.\n",
                        "example": "{promotion-type-id-1}|{promotion-type-id-2}",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "network",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by one or more network IDs. This parameter may contain one or more valid network IDs. If not included, your response will return all networks.\n",
                        "example": "{network-id-1}|{network-id-2}",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "mid",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by one or more advertiser IDs. This parameter may contain one or more advertiser IDs. Use this parameter to limit your query to specific advertisers. If not included, your response will return all advertisers.\n",
                        "example": "{advertiser-id-1}|{advertiser-id-2}",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "resultsperpage",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Maximum number of results per page (default: 500)\n",
                        "example": 2,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "pagenumber",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page number of results to retrieve (default: 1)\n",
                        "example": 1,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results are returned successfully.<br>",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/couponFeedResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/coupon/1.0?promocat={promocat}": {
            "get": {
                "tags": [
                    "Coupon"
                ],
                "summary": "Retrieve network ID, category ID and promotion type ID",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "promocat",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Use \"1\" to retrive all network, category and promotion type IDs\n",
                        "example": 1,
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results are returned successfully"
                    }
                }
            }
        },
        "/events/1.0/transactions": {
            "get": {
                "summary": "Retrieve transaction confirmations of events completed on a partner-advertiser's website.\n",
                "description": "There are no required parameters for Events API requests. If you call Events with no parameters provided, default values will be applied and you will receive your last 100 transactions by process date.\n",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "name": "process_date_start",
                        "in": "query",
                        "required": false,
                        "description": "Start of date range. Returns transactions processed on or after this date. (YYYY-MM-DD HH:mm:ss)\n",
                        "example": "2020-05-01 12:00:00",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "process_date_end",
                        "in": "query",
                        "required": false,
                        "description": "End of date range. Returns transactions processed on or before this date. (YYYY-MM-DD HH:mm:ss)\n",
                        "schema": {
                            "type": "string"
                        },
                        "example": "2020-05-02 12:00:00"
                    },
                    {
                        "name": "transaction_date_start",
                        "in": "query",
                        "required": false,
                        "description": "Start of date range. Returns transactions that occurred on or after this date. (YYYY-MM-DD HH:mm:ss)\n",
                        "schema": {
                            "type": "string"
                        },
                        "example": "2020-04-30 12:00:00"
                    },
                    {
                        "name": "transaction_date_end",
                        "in": "query",
                        "required": false,
                        "description": "End of date range. Returns transactions that occurres on or before this date. (YYYY-MM-DD HH:mm:ss)\n",
                        "schema": {
                            "type": "string"
                        },
                        "example": "2020-05-01 12:00:00"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Maximum number of results (default: 100)\n",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "example": "300"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Page number of transactions to retrieve (Default 1)\n",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "example": "2"
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "required": false,
                        "description": "Currency of the sale amount for transactions\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "USD",
                                "CAD",
                                "GBP",
                                "EUR",
                                "BRL",
                                "AUD",
                                "JPY"
                            ]
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "description": "Specify if the transaction type is a real time or batched",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "batch",
                                "realtime"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results are returned successfully\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/eventsAPIResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/linklocator/1.0/getMerchByID/{advertiser-id}": {
            "get": {
                "tags": [
                    "Link Locator"
                ],
                "summary": "Retrieve partner-advertiser information by advertiser ID\n",
                "description": "Use Link Locator API to query different link types as well as creatives directly from a partner-advertiser.\n",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "advertiser-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Advertiser ID",
                        "example": 99999,
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Partner-advertiser information is returned successfully.",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/linkLocatorGetMerchByID"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/linklocator/1.0/getMerchByName/{advertiser-name}": {
            "get": {
                "tags": [
                    "Link Locator"
                ],
                "summary": "Get advertiser information by advertiser name.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "advertiser-name",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Advertiser name",
                        "example": "テスト",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Partner-advertiser information is returned successfully.",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/linkLocatorGetMerchByName"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/linklocator/1.0/getMerchByAppStatus/{application-status}": {
            "get": {
                "tags": [
                    "Link Locator"
                ],
                "summary": "Filter advertisers by application status",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "application-status",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "approved",
                                "approval extended",
                                "wait",
                                "temp removed",
                                "temp rejected",
                                "perm removed",
                                "perm rejected",
                                "self removed"
                            ]
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Partner-advertiser information is returned successfully.",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/linkLocatorGetMerchByAppStatus"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/linklocator/1.0/getMerchByCategory/{category-id}": {
            "get": {
                "tags": [
                    "Link Locator"
                ],
                "summary": "Retrieve partner-advertiser information by category ID",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "category-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Category ID",
                        "example": 5,
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Partner-advertiser(s) information is returned successfully.",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/linkLocatorGetMerchByCategoryId"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/linklocator/1.0/getCreativeCategories/{advertiser-id}": {
            "get": {
                "tags": [
                    "Link Locator"
                ],
                "summary": "Retrieve partner-advertisers' creative categories",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "advertiser-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Advertiser ID",
                        "example": 99999,
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Creative categories returned successfully.",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/linkLocatorGetCreativeCategories"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/linklocator/1.0/getTextLinks/{advertiser-id}/{category-id}/{link-start-date}/{link-end-date}/{DEPRECATED-campaign-id}/{page}": {
            "get": {
                "tags": [
                    "Link Locator"
                ],
                "summary": "Retrieve text links from partner-advertisers",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "advertiser-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Advertiser ID (MID)",
                        "example": -1,
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "category-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Category ID",
                        "example": -1,
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "link-start-date",
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9]{8}$"
                        },
                        "description": "Link start date. Returns results with links that begin on or after this date. (format: MMDDYYYY; default: blank)\n",
                        "example": "01012020",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "link-end-date",
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9]{8}$"
                        },
                        "description": "Link end date. Returns results with links that end on or after this date. (format: MMDDYYYY; default: blank)\n",
                        "example": "02012020",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "DEPRECATED-campaign-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is a deprecated feature. Set value to \"-1\" for a succesful call.\n",
                        "example": -1,
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "page",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page number of results to retrieve. (default: 1)\n",
                        "example": 1,
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Text links are returned successfully.",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/linkLocatorGetTextLinks"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/linklocator/1.0/getBannerLinks/{advertiser-id}/{category-id}/{link-start-date}/{link-end-date}/{banner-size-code}/{DEPRECATED-campaign-id}/{page}": {
            "get": {
                "tags": [
                    "Link Locator"
                ],
                "summary": "Retrieve banner links from partner-advertisers",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "advertiser-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Advertiser ID (MID)",
                        "example": -1,
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "category-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Category ID",
                        "example": -1,
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "link-start-date",
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9]{8}$"
                        },
                        "description": "Link start date. Returns results with links that begin on or after this date. (format: MMDDYYYY; default: blank)\n",
                        "example": "01012020",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "link-end-date",
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9]{8}$"
                        },
                        "description": "Link end date. Returns results with links that end on or after this date. (format: MMDDYYYY; default: blank)\n",
                        "example": "02012020",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "banner-size-code",
                        "schema": {
                            "type": "integer",
                            "enum": [
                                -1,
                                0,
                                1,
                                2,
                                3,
                                4,
                                5,
                                6,
                                7,
                                8,
                                9,
                                10,
                                11,
                                12,
                                13,
                                14,
                                15,
                                16,
                                17,
                                18,
                                19
                            ]
                        },
                        "description": "Code for banner size (default: -1)\n",
                        "example": -1,
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "DEPRECATED-campaign-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is a deprecated feature. Set value to \"-1\" for a succesful call.\n",
                        "example": -1,
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "page",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page number of results to retrieve. (default: 1)\n",
                        "example": 1,
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Banner links are returned successfully.",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/linkLocatorGetBannerLinks"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/linklocator/1.0/getDRMLinks/{advertiser-id}/{category-id}/{link-start-date}/{link-end-date}/{DEPRECATED-campaign-id}/{page}": {
            "get": {
                "tags": [
                    "Link Locator"
                ],
                "summary": "Retrieve dynamic rich media (DRM) links from partner-advertisers",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "advertiser-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Advertiser ID (MID)",
                        "example": -1,
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "category-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Category ID",
                        "example": -1,
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "link-start-date",
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9]{8}$"
                        },
                        "description": "Link start date. Returns results with links that begin on or after this date. (format: MMDDYYYY; default: blank)\n",
                        "example": "01012020",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "link-end-date",
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9]{8}$"
                        },
                        "description": "Link end date. Returns results with links that end on or after this date. (format: MMDDYYYY; default: blank)\n",
                        "example": "02012020",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "DEPRECATED-campaign-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "This is a deprecated feature. Set value to \"-1\" for a succesful call.\n",
                        "example": -1,
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "page",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page number of results to retrieve. (default: 1)\n",
                        "example": 1,
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DRM links are returned successfully.",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/linkLocatorGetDRMLinks"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/productsearch/1.0": {
            "get": {
                "tags": [
                    "Product Search"
                ],
                "summary": "Returns list of products on the market from existing advertiser product feeds.\n",
                "description": "This search will return a maximum of 1,000 results.\n",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "keyword",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Use the parameter <code>keyword</code> to include all search terms in the result.\n",
                        "example": "shirt steamer",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "exact",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Use the parameter <code>exact</code> to return results containing the search terms in the exact order.\n",
                        "example": "dog shirt",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "one",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Use the <code>one</code> parameter to return results containing at least one of the search terms.\n",
                        "example": "puppies chew toy"
                    },
                    {
                        "in": "query",
                        "name": "none",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Use the <code>none</code> parameter to return results containing none of the search terms.\n",
                        "example": "portable",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "cat",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter results by primary or secondary category\n",
                        "example": "accessories",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "language",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "en_US",
                                "fr_FR",
                                "de_DE",
                                "pt_BR"
                            ]
                        },
                        "description": "Filter results by language\n",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "max",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Maximum results per page (default: 100)\n",
                        "example": 20,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "pagenumber",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page number of results to retrieve (default: 1)\n",
                        "example": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "mid",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Advertiser ID",
                        "example": 99999,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "sort",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "retailprice",
                                    "productname",
                                    "categoryname",
                                    "mid"
                                ]
                            }
                        },
                        "style": "form",
                        "description": "Sort results by one of the allowed fields\n",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "sorttype",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "asc",
                                    "dsc"
                                ]
                            }
                        },
                        "style": "form",
                        "description": "Sort results in ascending (<code>asc</code>) or descending (<code>dsc</code>) order\n",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results are returned successfully.",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/productSearchResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/v1/links/deep_links": {
            "post": {
                "tags": [
                    "Deep Link"
                ],
                "summary": "Generate deep-links from partner-advertiser's product links",
                "description": "Generate deep-links with partner-advertisers' product links.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "description": "Product link to use for deep-linking",
                                        "required": true
                                    },
                                    "advertiser_id": {
                                        "type": "integer",
                                        "description": "Advertiser ID",
                                        "required": true
                                    },
                                    "u1": {
                                        "type": "string",
                                        "description": "u1 value",
                                        "required": false
                                    }
                                },
                                "example": {
                                    "url": "https://www.my-awesome-pet-store.com/dogs/toys/chews/bone",
                                    "advertiser_id": 99999,
                                    "u1": "my_u1-value"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Results are returned successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/deepLinkResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/v2/advertisers": {
            "get": {
                "tags": [
                    "Advertisers"
                ],
                "summary": "Search or filter for advertisers in Rakuten Advertising network",
                "description": "The Advertiser API (v2) is an updated version of Advertiser Search API (v1.0) and allows users to retrieve information on advertisers. Publishers can also use this API to find potential new advertisers to apply a partnership with.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page number of transactions to retrieve (default: 0)\n",
                        "example": 3,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Maximum number of results (default: 10; allows up to 200 per page)\n",
                        "example": 10,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "ships_to",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Countries the advertiser ships to\n",
                        "example": "US",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "deep_links",
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "Identifies if the advertiser allows deep links\n",
                        "example": true,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "network",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Filter advertisers by network\n",
                        "example": 1,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results are returned successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/advertisersResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/v2/advertisers/{advertiser-id}": {
            "get": {
                "tags": [
                    "Advertisers"
                ],
                "summary": "Search for advertisers in Rakuten Advertising network by MID",
                "description": "The Advertisers API (v2) is an updated version of Advertiser Search API (v1.0) and allows users to retrieve information on advertisers. Publishers can also use this API to find potential new advertisers to apply a partnership with.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "advertiser-id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Advertiser ID (MID)",
                        "example": 1234,
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results are returned successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/deepLinkResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/v1/postback": {
            "post": {
                "tags": [
                    "Postback"
                ],
                "summary": "Set up a postback with a custom URL",
                "description": "The postback is a push option for Events API transactions. Use this to set up a postback for the first time.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "description": "Create a new postback in the store",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "example": 112
                                    },
                                    "is_active": {
                                        "type": "string",
                                        "example": "Y",
                                        "enum": [
                                            "Y",
                                            "N"
                                        ]
                                    },
                                    "url": {
                                        "type": "string",
                                        "example": "test.com"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/postbackResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/v1/postback/{sid}": {
            "put": {
                "tags": [
                    "Postback"
                ],
                "summary": "Update an existing postback",
                "description": "Use this endpoint to update, enable or disable an existing postback",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "The sid that needs to be updated.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update an existent postback in the store",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "is_active": {
                                        "type": "string",
                                        "example": "N",
                                        "enum": [
                                            "Y",
                                            "N"
                                        ]
                                    },
                                    "url": {
                                        "type": "string",
                                        "example": "test.com"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/postbackResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    },
                    "404": {
                        "description": "Postback not found"
                    }
                }
            },
            "get": {
                "tags": [
                    "Postback"
                ],
                "summary": "View current postback settings",
                "description": "Use this to view any available postback settings. If \"No records found\" message is returned, the account does not have a current postback.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "The sid that needs to be updated.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/postbackResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    },
                    "404": {
                        "description": "Postback not found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Postback"
                ],
                "summary": "Delete an existing postback",
                "description": "User this endpoint to delete an existing postback",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "The sid that needs to be deleted.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    }
                }
            }
        },
        "/v1/offers": {
            "get": {
                "tags": [
                    "Offers"
                ],
                "summary": "Provides a list of active offers available, relevant to filters specified.",
                "description": "Retrieve a list of active offers based on the specified filters.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "offer_status",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "available",
                                "upcoming"
                            ]
                        },
                        "description": "Status of the offer."
                    },
                    {
                        "name": "offer_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "private",
                                "private-special",
                                "public",
                                "public-special",
                                "baseline"
                            ]
                        },
                        "description": "Type of the offer."
                    },
                    {
                        "name": "advertiser",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "ID of the advertiser."
                    },
                    {
                        "name": "advertiser_status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        },
                        "description": "Status of the advertiser."
                    },
                    {
                        "name": "network",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                3,
                                5,
                                7,
                                8,
                                9,
                                41
                            ]
                        },
                        "description": "Network associated with the offer."
                    },
                    {
                        "name": "date_start",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "YYYYMMDD"
                        },
                        "description": "Start date for filtering offers."
                    },
                    {
                        "name": "date_end",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "YYYYMMDD"
                        },
                        "description": "End date for filtering offers."
                    },
                    {
                        "name": "date_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "offer-start",
                                "offer-end"
                            ]
                        },
                        "description": "Type of date to filter by."
                    },
                    {
                        "name": "start_date_range",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "1d",
                                "7d",
                                "30d"
                            ]
                        },
                        "description": "Range of start dates for filtering offers."
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "start_datetime",
                                "end_datetime",
                                "advertiser_id",
                                "advertiser_name"
                            ]
                        },
                        "description": "Field to sort the results by."
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "dsc",
                                "asc"
                            ]
                        },
                        "description": "Order of sorting (descending or ascending)."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Number of results to return per page."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page number to retrieve."
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "successfully fetched offers"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/offersResponse"
                                            }
                                        }
                                    }
                                },
                                "example": "{\n  \"_metadata\": {\n    \"api_name_version\": \"offers-v1.0.0\",\n    \"page\": {x},\n    \"limit\": {y},\n    \"total\": {z},\n    \"_links\": {\n      \"prev\": \"/v1/offers?page={x-1}&limit={y}\",\n      \"next\": \"/v1/offers?page={x+1}&limit={y}\",\n      \"self\": \"/v1/offers?page={x}&limit={y}\"\n    }\n  },\n  \"offers\": [\n    {\n      \"advertiser\": {\n        \"id\": {advertiser-id},\n        \"network\": {network},\n        \"name\": {name},\n        \"status\": {status},\n        \"details\": \"/v2/advertisers/{advertiser-ID}\"\n      },\n      \"offer_number\": {offer-number},\n      \"goid\": {group-offer-id},\n      \"status\": {offer-status},\n      \"name\": {offer-name},\n      \"type\": {offer-type},\n      \"auto_renew\": {auto-renew},\n      \"return_days\": {return-days},\n      \"truelock\": {truelock-boolean-Y/N},\n      \"update_window\": {days transaction updates allowed till},\n      \"start_datetime\": {offer-start-date-and-time},\n      \"end_datetime\": {offer-end-date-and-time},\n      \"terms_url\": {url-to-offer-terms},\n      \"offer_rules\": [\n        {\n          \"oid\": {offer-id},\n          \"offer_number\": {offer-number},\n          \"is_base_commission\": {is-base-commission},\n          \"is_first_click\": {is-first-click},\n          \"is_dynamic\": {is-dynamic-offer},\n          \"sku_list_name\": {sku-list-name},\n          \"commissions\": [\n            {\n              \"commission_type\": {commission-type},\n              \"description\": {commission-description},\n              \"dynamic_rules\": [\n                {\n                  \"transaction_field_id\": {transaction-field-id},\n                  \"transaction_field_name\": {transaction-field-name},\n                  \"operation\": {operation},\n                  \"operand\": {operand},\n                  \"list_id\": {list_id},\n                  \"list_name\": {list-name},\n                  \"list_details_link\": {list-details-link},\n                  \"category_level\": {category-level}\n                }\n              ],\n              \"tiers\": [\n                {\n                  \"commission\": {commission},\n                  \"threshold\": {threshold},\n                  \"upper_threshold\": {upper-threshold}\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}\n"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "REQUEST_PARAM_INVALID"
                                            ]
                                        }
                                    }
                                },
                                "examples": {
                                    "invalidLimit": {
                                        "value": {
                                            "message": "limit must be between 1 and 200",
                                            "error": "REQUEST_PARAM_INVALID"
                                        }
                                    },
                                    "invalidPage": {
                                        "value": {
                                            "message": "page must be between 1 and 1000",
                                            "error": "REQUEST_PARAM_INVALID"
                                        }
                                    },
                                    "invalidDateRange": {
                                        "value": {
                                            "message": "invalid date range format",
                                            "error": "REQUEST_PARAM_INVALID"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "UNEXPECTED_ERROR"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/offers/{goid}": {
            "get": {
                "tags": [
                    "Offers"
                ],
                "summary": "Retrieve single offer details by Group Offer ID (GOID)",
                "description": "Get detailed information about a specific offer using its Group Offer ID (GOID).",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "goid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Group Offer ID (GOID) to retrieve single offer details",
                        "example": 11111
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results are returned successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/offerResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid GOID parameter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "REQUEST_PARAM_INVALID"
                                            ]
                                        }
                                    }
                                },
                                "example": {
                                    "message": "Invalid GOID parameter",
                                    "error": "REQUEST_PARAM_INVALID"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    },
                    "404": {
                        "description": "Offer not found"
                    }
                }
            }
        },
        "/v1/partnerships": {
            "get": {
                "tags": [
                    "Partnerships"
                ],
                "summary": "Provides a list of partnerships relevant to filters specified.",
                "description": "Retrieve a list of partnerships based on the specified filters.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "partner_status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "pending",
                                "self-removed",
                                "permanent-decline",
                                "permanent-remove",
                                "temp-decline",
                                "temp-remove",
                                "extended"
                            ]
                        },
                        "description": "Status of the partnership."
                    },
                    {
                        "name": "network",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                3,
                                5,
                                7,
                                8,
                                9,
                                41
                            ]
                        },
                        "description": "Network of the advertiser."
                    },
                    {
                        "name": "advertiser_status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        },
                        "description": "Status of the advertiser."
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Categories associated with partnered advertisers."
                    },
                    {
                        "name": "status_update_range",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "1d",
                                "7d",
                                "30d"
                            ]
                        },
                        "description": "Range of status update dates for filtering partnerships."
                    },
                    {
                        "name": "approve_date_range",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "1d",
                                "7d",
                                "30d"
                            ]
                        },
                        "description": "Range of approval dates for filtering partnerships."
                    },
                    {
                        "name": "apply_date_range",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "1d",
                                "7d",
                                "30d"
                            ]
                        },
                        "description": "Range of application dates for filtering partnerships."
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "apply_datetime",
                                "approve_datetime",
                                "status_update_datetime"
                            ]
                        },
                        "description": "Field to sort the results by."
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "dsc",
                                "asc"
                            ]
                        },
                        "description": "Order of sorting (descending or ascending)."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Number of results to return per page."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page number to retrieve."
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/partnershipsResponse"
                                            }
                                        }
                                    }
                                },
                                "example": "{\n  \"_metadata\": {\n    \"api_name_version\": \"partnerships-v1.0.0\",\n    \"_links\": {\n      \"prev\": \"/v1/partnerships?page={x-1}&limit={y}\",\n      \"next\": \"/v1/partnerships?page={x+1}&limit={y}\",\n      \"self\": \"/v1/partnerships?page={x}&limit={y}\"\n    }\n  },\n  \"partnerships\": [\n    {\n      \"advertiser\": {\n        \"id\": {advertiser-ID-1},\n        \"network\": {advertiser-network},\n        \"name\": {advertiser-name},\n        \"status\": {advertiser-status},\n        \"categories\": {advertiser-categories},\n        \"details\": \"/v2/advertisers/{advertiser-ID-1}\"\n      },\n      \"status\": {partnership-status},\n      \"status_update_datetime\": {status-last-updated},\n      \"approve_datetime\": {partnership-approved-datetime},\n      \"apply_datetime\": {partnership-applied-datetime},\n      \"offers\": \"/v1/offers/offer_status=active&advertiser={advertiser-ID-1}\"\n    },\n    {\n      \"advertiser\": {\n        \"id\": {advertiser-ID-2},\n        \"network\": {advertiser-network},\n        \"name\": {advertiser-name},\n        \"status\": {advertiser-status},\n        \"categories\": {advertiser-categories},\n        \"details\": \"/v2/advertisers/{advertiser-ID-2}\"\n      },\n      \"status\": {partnership-status},\n      \"status_update_datetime\": {status-last-updated},\n      \"approve_datetime\": {partnership-approved-datetime},\n      \"apply_datetime\": {partnership-applied-datetime},\n      \"offers\": \"/v1/offers/offer_status=active&advertiser={advertiser-ID-2}\"\n    }\n  ]\n}\n"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "REQUEST_PARAM_INVALID"
                                            ]
                                        }
                                    }
                                },
                                "examples": {
                                    "invalidLimit": {
                                        "value": {
                                            "message": "limit must be between 1 and 200",
                                            "error": "REQUEST_PARAM_INVALID"
                                        }
                                    },
                                    "invalidPage": {
                                        "value": {
                                            "message": "page must be between 1 and 1000",
                                            "error": "REQUEST_PARAM_INVALID"
                                        }
                                    },
                                    "invalidDateRange": {
                                        "value": {
                                            "message": "invalid date range format",
                                            "error": "REQUEST_PARAM_INVALID"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "UNEXPECTED_ERROR"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/partnerships/{advertiser-id}": {
            "get": {
                "tags": [
                    "Partnerships"
                ],
                "summary": "Retrieve single partnership details by Advertiser ID",
                "description": "Get detailed information about a specific partnership using Advertiser ID.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "advertiser-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Advertiser ID to retrieve single partnership details",
                        "example": 12345
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results are returned successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/partnershipResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid Advertiser ID parameter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "REQUEST_PARAM_INVALID"
                                            ]
                                        }
                                    }
                                },
                                "example": {
                                    "message": "Invalid Advertiser ID parameter",
                                    "error": "REQUEST_PARAM_INVALID"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Access Token Expired"
                    },
                    "403": {
                        "description": "The number of requests allowed per minute has been exceeded"
                    },
                    "404": {
                        "description": "Partnership not found"
                    }
                }
            }
        },
        "/v1/commissioninglists": {
            "get": {
                "tags": [
                    "Commissioning Lists"
                ],
                "summary": "Provides a list of commissioning lists relevant to filters specified.",
                "description": "Retrieve a list of commissioning lists based on the specified filters.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "advertiser",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "ID of the advertiser to filter by."
                    },
                    {
                        "name": "goid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Group Offer ID (GOID) to filter by."
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Offer ID to filter by."
                    },
                    {
                        "name": "last_modified_range",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "1d",
                                "7d",
                                "30d"
                            ]
                        },
                        "description": "Filter commissioning lists by the last modified date range."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "maximum": 200
                        },
                        "description": "Number of results to return per page (default is 10, maximum is 200)."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page number to retrieve."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/commissioningListsResponse"
                                },
[...]
